:root {
    --md-primary-fg-color:        #198af3;
    --md-primary-fg-color--light: #bed43d;
    --md-primary-fg-color--dark:  #0f0f0f;
    --md-code-fg-color:  #0000ff;
    --md-code-hl-color: #0693a9;
    --md-code-hl-string-color: #0FF1CE;
  }
  [data-md-color-scheme="slate"] {
    --md-hue: 210; 
  }
  